/* COLOR PALETTE
BLUE : #4EADAD
DARK GREY : #262C2B
*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* GENERIC */
.title-container {
    margin-left: 10%;
    padding-top: 5vh;
}
.title-container h2 {
    font-size: 30px;
    margin: 0;
}
.title-container span {
    color: #4EADAD;
}
.title-container p {
    font-size: 13px;
    margin: 0;
    color: #4EADAD;
}

/* HOME SECTION */
#home-section {
    height: 93vh;
    margin-top: 1.5vh;
}

/* CAROUSEL SECTION */
.carousel {
    height: 100%;
    width: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.carousel-item {
    width: 90%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #262C2B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    background-size: cover;
}
.last-carousel-item h1 {
    color: black !important;
}
.last-carousel-item p {
    color: #4EADAD !important;
}
.last-carousel-item a:last-of-type {
    color: #4EADAD !important;
}
.last-carousel-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.last-carousel-item img {
    width: 50%;

}

.carousel-item:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu3.jpg');
    background-size: cover;
}
.carousel-item:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu2.jpg');
    background-size: cover;
}
.carousel-item:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu1.jpg');
    background-size: cover;
}
.carousel-item:nth-child(4) {
    background-color: white;
}

.carousel-item h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.carousel-item span {
    color: #4EADAD;
}
.carousel-item p {
    margin: 0;
    margin-bottom: 35px;
    font-size: 14px;
    color: white;
}
.carousel-item .btns a {
    background-color: #4EADAD;
    text-decoration: none;
    border: 2px solid #4EADAD;
    outline: none;
    padding: 8px 18px;
    font-size: 15px;
    font-family: 'poppins';
    border-radius: 50px;
    color: white;
    font-weight: 500;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
.carousel-item .btnTypeUn:hover {
    background-color: transparent;
    transition: 1s;
}
.carousel-item .btnTypeDeux:hover {
    background-color: #4EADAD !important;
    color: white !important;
    transition: 1s;
}
.carousel-item .btnTypeTrois:hover {
    background-color: transparent;
    color: #4EADAD !important;
    transition: 1s;
}
.carousel-item .btns a:last-of-type {
    background-color: transparent;
    margin-left: 10px;
}
.next-slide, .prev-slide {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 15px;
}
.next-slide {
    right: 30px;
}
.prev-slide {
    left: 30px;
}
.dots-container {
    position: absolute;
    top: 95%;
    left: 46%;
    display: flex;
}

.dots-container a {
    border-radius: 50%;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: grey;
}
.dots-container .active {
    background-color: #4EADAD;
}

.presentation{
    background-color: #262C2B;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

}

#Lorem1{
    display: flex;
    justify-content: space-between;
    
}
.Txt1{
    float: right;
}
#imgLorem1{
    max-width: 20%;
    max-height: 20%;
}

#Lorem2{
    display: flex;
    justify-content: space-between;
}
#imgLorem2{
    max-width: 20%;
    max-height: 20%;
}

#Lorem3{
    display: flex;
   
    justify-content: space-between;
}
#imgLorem3{
    max-width: 20%;
    max-height: 20%;
}

/* CONTACT FORM */
#contact-form-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-form-container form {
    display: flex;
    flex-direction: column;
    width: 45%;
}
#contact-form {
    position: relative;
}
form input, form textarea {
    outline: none;
    padding: 8px;
    border: none;
    background: none;
    font-family: 'poppins';
    resize: vertical;
}
form button {
    background-color: #4EADAD;
    border: none;
    outline: none;
    padding: 8px 18px;
    font-size: 16px;
    font-family: 'poppins';
    border-radius: 50px;
    color: white;
    font-weight: 600;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
form label {
    position: absolute;
    top: -9px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: -16px;
    padding: 0 3px;
    height: 16px;
    background-color: white;
    color: #4EADAD;
}
.form-group {
    border: 2px solid #4EADAD;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-contact-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-contact-inputs div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.form-contact-inputs div:first-of-type {
    margin-right: 4%;
}
.textarea-container {
    display: flex;
    flex-direction: column;
}
.textarea-container label {
    top: 49px;
}
#message {
    height: 180px;
}
.infoMsg {
    font-size: 13px;
    align-self: center;
}

/* OUR VALUES SECTION */

/* OUR VALUES FORM */

.adaptabilite{
    background-color: #E5C163;
    float: left;
}

.rigueur{
    background-color: #2EC97F;
}

.bienveillance{
    background-color: #38D2C9;
    float: right;
}

.accompagnement{
    background-color: #F3ECE7;
    float: right;
}

.illu3{
    float: left;
}