/* COLOR PALETTE */
/*  */

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* GENERIC */
.title-container {
    margin-left: 10%;
    padding-top: 5vh;
}
.title-container h2 {
    font-size: 30px;
    margin: 0;
}
.title-container span {
    color: #586B48;
}
.title-container p {
    font-size: 13px;
    margin: 0;
    color: #586B48;
}









/* CONTACT SECTION */

/* CONTACT FORM */
#contact-form-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-form-container form {
    display: flex;
    flex-direction: column;
    width: 45%;
}
#contact-form {
    position: relative;
}
form input, form textarea {
    outline: none;
    padding: 8px;
    border: none;
    background: none;
    font-family: 'poppins';
    resize: vertical;
}
form button {
    background-color: #586B48;
    border: none;
    outline: none;
    padding: 8px 18px;
    font-size: 16px;
    font-family: 'poppins';
    border-radius: 50px;
    color: white;
    font-weight: 600;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
form label {
    position: absolute;
    top: -9px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: -16px;
    padding: 0 3px;
    height: 16px;
    background-color: white;
    color: #586B48;
}
.form-group {
    border: 2px solid #586B48;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-contact-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-contact-inputs div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.form-contact-inputs div:first-of-type {
    margin-right: 4%;
}
.textarea-container {
    display: flex;
    flex-direction: column;
}
.textarea-container label {
    top: 49px;
}
#message {
    height: 180px;
}
.infoMsg {
    font-size: 13px;
    align-self: center;
}